[submodule "thirdparty/histogram"]
	path = thirdparty/histogram
	url = https://github.com/boostorg/histogram.git
[submodule "thirdparty/cpp-taskflow"]
	path = thirdparty/cpp-taskflow
	url = https://github.com/cpp-taskflow/cpp-taskflow.git
